@import 'mixins';
@import 'base';

:root {
    --m: 1rem;
    font-family: system-ui, sans-serif;
    --r: 0;
    --g: 66;
    --b: 96;
}

body,
.wrapper {
    @include grid-center;
    line-height: 1.5;
}

.wrapper,
.status {
    width: 75vw;
    min-width: 18rem;
}

.wrapper {
    @include flex-center;
    flex-wrap: wrap;
    gap: 0.5rem;
    container-type: inline-size;
    padding: calc(var(--m)*2);
    border: 1px solid hsl(125, 55%, 48%);
    border-radius: var(--m);
    background: #a8e6ad;
}

.status {
    position: fixed;
    min-height: 3rem;
    max-height: 20vh;
    max-height: 20dvh;
    overflow: auto;
    bottom: var(--m, 0);
    left: 50%;
    translate: -50% 0;
    font-family: monospace, sans-serif;
    font-size: .75em;
    border: 1px solid #91a4ba;
    background-color: #d0d9e2;

    & > p{
        padding-inline: var(--m);
    }

    & header{
        position: sticky;
        left: 0;
        top: 0;
        padding-inline: .5em;
        padding-block: .25em;
        background-color: rgba(255, 20, 145, 0.75);
    }
}

// Example #1 ----------------
#progress {
    width: calc(75cqw - 2*var(--m));
}

output {
    width: 4ch;
    text-align: right;
}

// Example #2 ----------------

.box {
    width: 50%;
    width: 50cqw;
    aspect-ratio: 1;
    background-color: rgb(var(--r) var(--g) var(--b));
}